@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
	font-size: 1rem;
	font-family: 'Open Sans';
}

*
{
	padding: 0;
	margin: 0;
}

body,
html
{
	overflow: hidden;
}

#info {
	position: fixed;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	color: #FFFFFF;
}

.webgl
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}

@media only screen and (max-width: 720px) {
	#info {
		display: none;
	}	
}